body{
    background-image: url("images/bg.png");
   
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
   
  /* Set the background image to no repeat */
  background-repeat: no-repeat;

  /* Scale the background image to be as large as possible */
  background-size:127% 140%;
  background-position:center;

}

li{
    margin-left: 50px;
}
.join{
   
    justify-content: center;
    margin-top: 20px;
   margin-left: 250px;
}
  .join:hover{
   
    transition: all 0.5s ease-in;
    font-size: large;
    
}
.bt:hover{
    transition: all 0.5s ease-in;
    font-size: large;

}
.button{
    margin-left: 25px;
}
.p{
    margin-left:5px;
    margin-top: 8px;
   
}
.img{
    margin-left: 50px;
   
    
  
}
.img:hover{
    
  
    width: 50px;
    height: 50px;
}
    .img1:hover{
      
        width: 50px;
        height: 50px;
}
/* Default Styles for PC */
@media (min-width: 992px) {
    .navbar-nav {
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        text-align: left;
    }

    .btn.bt {
        margin-right: 20px;
    }

    .button {
        margin-left: 20px;
    }

    .p {
        margin-left: 10px;
    }
}

/* Styles for Tablets (max-width: 991px) */
@media (max-width: 991px) {
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }

    .card-title {
        font-size: 2rem;
    }

    .btn.bt {
        padding: 8px 18px;
        font-size: 0.9rem;
    }

    .button {
        margin-left: 15px;
    }

    .p {
        font-size: 0.9rem;
        margin-left: 5px;
    }

    .icons img {
        width: 25px;
        height: 25px;
    }
}

/* Styles for Mobile Phones (max-width: 767px) */
@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .container-fluid {
        margin: auto;
    }

    .navbar-nav {
        flex-direction: column;
        margin-top: 15px;
    }

    .card-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .card-text {
        font-size: 0.9rem;
        text-align: center;
    }

    .btn.bt {
        font-size: 0.8rem;
        padding: 7px 15px;
    }

    .icons {
        justify-content: center;
    }

    .button form{
        margin-left: 10px;
    }

    .p {
        font-size: 0.8rem;
        margin-left: 0;
    }

    .icons img {
        width: 20px;
        height: 20px;
    }
}